@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  background: theme('colors.background');
}

@layer components {
  .active {
    @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
  }
}
